.profile-section {
    width: calc(100% - 40px);
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    min-width: 280px;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}


.user-details {
    width: fit-content;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 280px;
    padding: 20px;
    transform: rotate(-1.5deg);
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.paper-clip {
    position: absolute;
    width: 100px;
}

.user-avatar {
    min-width: 100px;
    min-height: 100px;
    width: 200px;
    background-color: #f0f0f1;
    margin: 20px 50px 20px 20px;
    z-index: 900;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border: solid 7px #41403E;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.user-info {
    /* background-color: aliceblue; */
}

.user-profile-actions {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 280px;
}

.pencil-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    right: -20px;
    bottom: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    z-index: 900;
    transition-duration: 300ms;
}

.pencil-icon img {
    width: 80%;
    height: 80%;
}

.pencil-icon:hover {
    background-color: rgba(17, 17, 17, 0.474);
}

.modal {
    position: absolute;
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    padding: 50px;
    top: 80px;
    left: 0px;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 910;
}

.modal-body {
    position: absolute;
    border-radius: 12px;
    background-color: #fff;
    z-index: 998;
    padding: 10px;
    margin: 20px;
}

.close-modal {
    float: right;
    cursor: pointer;
    color: #41403E;
    transition-duration: 300ms;
}

.close-modal:hover {
    color: #000;
    font-weight: bold;
}

.edit-profile-container {
    clear: both;
    border-radius: 12px;
}

.edit-profile-container input {
    padding: 10px;
    border-radius: 5px;
}

.edit-profile-form {
    border-spacing: 15px;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

button:disabled {
    cursor: not-allowed;
}

.btn-send-otp {
    width: 100px;
}

.btn-send-otp  span {
    font-size: medium;
    padding-left: 0px;
    padding-right: 0px;
}